@charset "UTF-8";
/*Root*/
:root {
  /*Шрифты*/
  --main-font: "Roboto",sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /*Светлая тема текста*/
  --primary-light-txt: #212121;
  --secondary-light-txt: #757575;
  --accent-txt: #2196F3;
  --logo-light-txt: #000000;
  --logo-dark-txt: #ffffff;
  /*Темная тема текста*/
  --primary-dark-txt: #ffffff;
  --secondary-dark-txt:#C4C4C4;
  /*Светлая тема фона*/
  --primary-light-bg: #E5E5E5;
  --secondary-light-bg: #F5F4FA;
  /*Темная тема фона*/
  --primary-dark-bg: #2F303A;
  /*Обычный цвет иконок команды*/
  --icon-primary: #AFB1B8;
  --secondary-footer-txt: rgba(255, 255, 255, 0.6);
  /*Modal window black theme*/
  --modal-primary: #212121;
  /*Анимации*/
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active--page::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background: var(--accent-txt);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-light-txt);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Button*/
.button {
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.button--footer {
  margin-left: 12px;
}
.button--hat {
  margin-left: auto;
  margin-right: auto;
}
.button--default {
  background-color: var(--accent-txt);
  color: white;
}
.button__icon {
  fill: white;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer--container {
  position: relative;
}

.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .wrapper {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*Socials*/
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials--crew {
  padding: 0 32px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials__item {
  margin-right: 10px;
}
.socials__item:last-child {
  margin: 0;
}
.socials__link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}
.socials__link:last-child {
  margin: 0;
}
.socials .link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}
.socials__icon {
  margin: auto auto;
  -webkit-transition: fill var(--main-animation);
  transition: fill var(--main-animation);
}
.socials--icon {
  fill: var(--icon-primary);
}
.socials__link:focus .socials--icon, .socials__link:hover .socials--icon {
  fill: #ffffff;
}
.socials__link:focus, .socials__link:hover {
  background-color: var(--accent-txt);
  cursor: pointer;
}
.socials--footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .socials--footer {
    position: absolute;
    right: 104px;
    top: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .socials--footer {
    margin-left: 72px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
  }
}
.socials--footer--caption {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.socials--dark--txt {
  color: var(--logo-dark-txt);
}
.socials--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials--dark--icon {
  fill: var(--logo-dark-txt);
}

/*Distribution*/
.distribution {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .distribution {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .distribution {
    display: block;
    width: 570px;
  }
}
.distribution__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .distribution__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.distribution__caption {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .distribution__caption {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .distribution__caption {
    padding-top: 14px;
    text-align: start;
  }
}
.distribution__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 450px;
  height: 50px;
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .distribution__input {
    width: 350px;
    margin-bottom: 0px;
  }
}
.distribution--dark--txt {
  color: var(--logo-dark-txt);
}
.distribution__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}
.distribution__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}
.distribution__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}
.distribution__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}
.distribution__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}

/*Contacts footer*/
.contacts .header--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media screen and (min-width: 768px) {
  .contacts .header--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .header--list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.contacts--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .contacts--footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .contacts--footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.contacts .footer--contacts {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .contacts .footer--contacts {
    margin-bottom: 0px;
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .footer--contacts {
    margin-left: 0px;
  }
}
.contacts__list {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    text-align: start;
  }
}
.contacts .item--footer {
  margin-bottom: 9px;
}
@media screen and (min-width: 768px) {
  .contacts .item--header {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .item--header {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item:last-child {
    margin-right: auto;
  }
}
.contacts__link {
  color: var(--secondary-light-txt);
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.contacts--header--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--main-animation);
  transition: color var(--main-animation);
}
@media screen and (min-width: 768px) {
  .contacts--header--link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contacts--header--link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.contacts__svg {
  fill: var(--secondary-light-txt);
  -webkit-transition: fill var(--main-animation);
  transition: fill var(--main-animation);
  margin-right: 10px;
}
.contacts--header--link:hover .contacts__svg, .contacts--header--link:focus .contacts__svg {
  fill: var(--accent-txt);
}
.contacts--header--link:hover, .contacts--header--link:focus {
  color: var(--accent-txt);
}
.contacts--address {
  color: var(--primary-dark-txt);
}
.contacts--mail, .contacts--phone {
  color: var(--secondary-footer-txt);
}
.contacts .footer--geoposition {
  margin-top: 20px;
}

.header--contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: start;
  }
}
@media screen and (min-width: 1200px) {
  .header--contacts {
    display: block;
  }
}

/*Logo*/
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo--white {
  color: var(--logo-dark-txt);
}
.logo--blue {
  color: var(--accent-txt);
}
.logo--dark {
  color: var(--logo-light-txt);
}

.title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-light-txt);
}

/*Navigation*/
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.nav__item:last-child {
  margin: 0;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-light-txt);
  -webkit-transition: color var(--main-animation);
  transition: color var(--main-animation);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-txt);
}

.nav--header {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav--header {
    display: block;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav--header {
    display: block;
    margin-left: 93px;
  }
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--main-animation), visibility var(--main-animation), background var(--main-animation);
  transition: opacity var(--main-animation), visibility var(--main-animation), background var(--main-animation);
  z-index: 100;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background: rgba(0, 0, 0, 0);
}

.modal {
  position: absolute;
  z-index: 10000;
  width: 450px;
  height: 609px;
  background: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-phrase {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--modal-primary);
}
.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
  margin: 8px;
  cursor: pointer;
  pointer-events: auto;
}
.modal-button:hover, .modal-button:focus {
  fill: var(--accent-txt);
}
.modal .close-icon-link {
  width: 18px;
  height: 18px;
}
.modal .close-icon {
  width: 16px;
  height: 16px;
}
.modal-form {
  pointer-events: auto;
  margin-top: 12px;
  margin-bottom: 20px;
}
.modal-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.modal-form-list {
  margin-bottom: 20px;
}
.modal-form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-light-txt);
  padding-bottom: 4px;
}
.modal-form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
  -webkit-transition: fill var(--main-animation);
  transition: fill var(--main-animation);
  height: 40px;
  padding-left: 42px;
  padding-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .modal-form-input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form-input {
    width: 448px;
  }
}
.modal-form-input:hover, .modal-form-input:focus, .modal-form-input:focus-visible, .modal-form-input:active {
  border: 1px solid #2196F3;
  border-radius: 4px;
  outline: none;
}
.modal-form-input:hover + .modal-form-icon, .modal-form-input:focus + .modal-form-icon, .modal-form-input:focus-visible + .modal-form-icon, .modal-form-input:active + .modal-form-icon {
  fill: var(--accent-txt);
}
.modal-form-icon {
  position: absolute;
  left: 12px;
  bottom: 12px;
}
.modal-form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}
@media screen and (min-width: 1200px) {
  .modal-form-textarea {
    width: 448px;
  }
}
.modal-form-textarea:hover, .modal-form-textarea:focus, .modal-form-textarea:focus-visible, .modal-form-textarea:active {
  border: 1px solid #2196F3;
  border-radius: 4px;
  outline: none;
}
.modal-form-textarea::-webkit-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 16px;
}
.modal-form-textarea::-moz-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 16px;
}
.modal-form-textarea:-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 16px;
}
.modal-form-textarea::-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 16px;
}
.modal-form-textarea::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 16px;
}
@media screen and (min-width: 1200px) {
  .modal-form-textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .modal-form-textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .modal-form-textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .modal-form-textarea::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .modal-form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
}
.modal-textarea-phrase {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-light-txt);
}
.modal-form-item {
  margin-bottom: 10px;
}
.modal-form-item:last-child {
  margin-bottom: 0;
}
.modal-checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.modal-checkbox-input {
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  background: var(--modal-primary);
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox-input {
    left: 12px;
  }
}
.modal-checkbox-icon {
  fill: white;
  -webkit-transition: fill var(--main-animation);
  transition: fill var(--main-animation);
  padding: 4px 2px 3px 3px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  border-radius: 2px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox-icon {
    left: 12px;
  }
}
.modal-checkbox-input:checked + .modal-checkbox-icon {
  fill: white;
  background-color: var(--accent-txt);
}
.modal-checkbox-phrase {
  margin-left: 20px;
  padding-top: 2px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--secondary-light-txt);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox-phrase {
    font-size: 14px;
    line-height: 1.71;
    margin-left: 33px;
  }
}
.modal-checkbox-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .modal-checkbox-link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .modal-checkbox-link {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
  cursor: pointer;
  border: none;
}
.modal-form-button:hover, .modal-form-button:focus {
  background: #188CE8;
}

.mobile-menu-button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-button__close {
  opacity: 0;
}
.mobile-menu-button.is-open .mobile-menu-button__close {
  opacity: 1;
}

.mobile-menu-button.is-open .mobile-menu__burger {
  opacity: 0;
}

.mobile-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 10;
  -webkit-transition: -webkit-transform var(--main-animation);
  transition: -webkit-transform var(--main-animation);
  transition: transform var(--main-animation);
  transition: transform var(--main-animation), -webkit-transform var(--main-animation);
}

.mobile-window.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-contacts-list {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-light-txt);
  text-align: start;
}

.mobile-contacts-link-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-txt);
  display: block;
  margin-bottom: 32px;
}

.mobile-contacts-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-light-txt);
}

.mobile-socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.mobile-socials-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-txt);
}

.mobile-socials-item:not(:last-child) {
  padding-right: 10px;
}

.active-nav {
  color: var(--accent-txt);
}

/*Хедер*/
.header {
  border-bottom: solid 1px #ECECEC;
}

.header--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header--contacts {
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Команда*/
.crew {
  background-color: var(--secondary-light-bg);
}
.crew--title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .crew--title {
    margin-bottom: 0px;
    margin-bottom: 50px;
  }
}
.crew__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .crew__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .crew__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.crew__item {
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}
@media screen and (min-width: 768px) {
  .crew__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .crew__item {
    width: 270px;
  }
}
.crew--picture {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .crew--picture {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .crew--picture {
    width: 270px;
  }
}
.crew__member--wrapper {
  padding-top: 30px;
  padding-bottom: 16px;
}
.crew__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.crew .primary--txt--light {
  color: var(--primary-light-txt);
}
.crew__occupation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/*Клиенты*/
.clients--title {
  margin-bottom: 50px;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients__item {
  border: 1px solid var(--icon-primary);
  min-width: 210px;
  min-height: 92px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    min-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    min-width: 170px;
  }
}
.clients__item:hover {
  border: 1px solid var(--accent-txt);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-txt);
}
.clients__link {
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients__icon {
  fill: var(--icon-primary);
}

/*Футер*/
.footer {
  background-color: var(--primary-dark-bg);
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer--logo {
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer--logo {
    text-align: start;
    margin-left: 110px;
  }
}
@media screen and (min-width: 1200px) {
  .footer--logo {
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
.footer--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/*Проэкты*/
.projects {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .projects {
    display: block;
  }
}
.projects--title {
  margin-bottom: 50px;
}
.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects__item--wrapper {
  position: relative;
  height: 294px;
}
.projects__item {
  margin-right: 30px;
  height: 294px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects__item:last-child {
  margin: 0;
}
.projects__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--primary-dark-txt);
  background: rgba(47, 48, 58, 0.8);
}

/*Секция особенности*/
.speciality__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .speciality__item {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .speciality__item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
}
.speciality__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  background-color: var(--secondary-light-bg);
}
.speciality__icon {
  margin: 25px auto;
}
.speciality__character {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-light-txt);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .speciality__character {
    text-align: start;
  }
}
.speciality__phrase {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-light-txt);
}

/*Секция шапка*/
.hat {
  background-color: var(--primary-dark-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hat/hat_sm.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hat/hat_sm.jpg);
  /*Для ретина экрана мобильная версия*/
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hat/hat_sm@2x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hat/hat_sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hat/hat_md.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hat/hat_md.jpg);
    /*Для ретина экрана планшетная версия*/
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hat/hat_md@2x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hat/hat_md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hat {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hat/hat_lg.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hat/hat_lg.jpg);
    /*Для ретина экрана компьютерная версия*/
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hat/hat_lg@2x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hat/hat_lg@2x.jpg);
  }
}
.hat__phrase {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  width: 360px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--primary-dark-txt);
  /*border: 1px solid #000000;*/
}
@media screen and (min-width: 1200px) {
  .hat__phrase {
    width: 696px;
    font-size: 44px;
    height: 120px;
  }
}

/*Портфолио*/
.portfolio-button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .portfolio-button-list {
    margin-bottom: 0;
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-button-list {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-item:nth-child(-n+2) {
    margin-bottom: 15px;
  }
}
.portfolio-item {
  margin-right: 8px;
}
.portfolio-item:last-child {
  margin: 0;
}
.portfolio-button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-light-txt);
  font-family: inherit;
  padding: 6px 22px;
  -webkit-transition: background-color var(--main-animation), color var(--main-animation);
  transition: background-color var(--main-animation), color var(--main-animation);
  border: none;
}
.portfolio-button-item:hover, .portfolio-button-item:focus {
  cursor: pointer;
  background-color: var(--accent-txt);
  color: #ffffff;
}
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.portfolio-list-item {
  border: 1px solid #EEEEEE;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio-list-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list-item {
    max-width: 370px;
  }
}
.portfolio-image-wrapper {
  position: relative;
  width: 450px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .portfolio-image-wrapper {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-image-wrapper {
    width: 370px;
  }
}
.portfolio-image-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 55%;
  padding: 63px 24px;
  color: var(--primary-dark-txt);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--main-animation);
  transition: -webkit-transform var(--main-animation);
  transition: transform var(--main-animation);
  transition: transform var(--main-animation), -webkit-transform var(--main-animation);
}
.portfolio-list-item:hover .portfolio-image-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio-list-item {
  -webkit-transition: -webkit-box-shadow var(--main-animation);
  transition: -webkit-box-shadow var(--main-animation);
  transition: box-shadow var(--main-animation);
  transition: box-shadow var(--main-animation), -webkit-box-shadow var(--main-animation);
}
.portfolio-list-item:hover, .portfolio-list-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: help;
}
.portfolio-list-wrapper {
  padding: 20px 24px;
}
.portfolio-item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-light-txt);
}
.portfolio-item-phrase {
  font-size: 16px;
  line-height: 1.87;
}/*# sourceMappingURL=main.css.map */