
/*Logo*/

.logo{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    padding-top: 16px;
    padding-bottom: 16px;

	@media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
	}
    //искать проблему тут

    &--white{
        color:var(--logo-dark-txt);
    }
    &--blue{
    color: var(--accent-txt);
    }
    
    &--dark{
    color: var(--logo-light-txt);
    }
    
}
//header--logo