/*Хедер*/
.header{
    
    border-bottom: solid 1px #ECECEC;
}


.header--container{
    display:flex;
    align-items: center;
    justify-content: start;
}
.header--contacts{
    margin-left: auto;
    align-items: center;
    }

